@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

thead {
  background-color: #2c5e77;
  color: #fff;
}

tbody {
  background-color: #e4f0f5;
}
table {
  width: auto; /* テーブル全体が親要素に幅を占めるようにする */
  table-layout: fixed; /* テーブルのレイアウトを固定 */
  border-collapse: collapse; /* ボーダーの重なりを消す */
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: black;
}

th,
tr {
  padding: 1rem;
}

input,
select {
  border: 1px solid black;
  padding: 5px;
}

button {
  background: lightgrey;
  border-radius: 10px;
  max-width: 250px;
  padding: 5px;
}

header {
  width: 100%;
  height: 10vh;
  background-color: black;
  color: white;
  padding: 15px 20px;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 15%;
  background-color: whitesmoke;
  color: black;
  display: flex;
  flex-direction: column;
  border-right: 1px black solid;
}

.sidebar-content {
  color: black;
  display: flex;
  flex-direction: column;
  margin: 20px 20px 10px;
}

.content {
  width: 85%;
  background-color: white;
  color: black;
  margin: 20px;
}
